/* ==============================================================
추천 친구
=================================================================
*/

.recommended-friends {
  padding: 25px 0px;
  margin: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  color: var(--gray-text);
  font-size: 14px;
}

.recommended-friends span {
  display: block;
  margin: 100px 0px;
  color: var(--gray-text);
  font-size: 18px;
  text-align: center;
}

/* ==============================================================
오픈 채팅 (해더)
=================================================================
*/

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.6;
}

/* ==============================================================
오픈 채팅 포스팅 글
=================================================================
*/

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 10px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  display: flex;
  align-items: end;
  margin-top: 7px;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

/* 000 members */
.open-post__member-count {
  font-size: 14px;
  opacity: 0.5;
}

/* | */
.open-post__members .divider {
  width: 1px;
  height: 15px;
  margin: 0 5px;
  background-color: var(--gray-icon);
}

/* Active / inactive */
.open-post__member-status {
  color: #ffb0e0;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

/* ♥ */
.open-post__heart-count {
  display: flex;
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  color: white;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  align-items: center;
}

/* 000 */
.open-post__heart-count span {
  margin-left: 3px;
}

/* 하트 박동 효과 */
@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

/* 하트 박동 효과 */
.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
