/* ==============================================================
기능 아이콘 리스트 (4 column) (아이콘, 텍스트)
=================================================================
*/
.icon-row {
  display: flex;
  justify-content: space-between;
}

/* 각 column 별 정렬 */
.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon i {
  font-size: 35px;
}

.icon-row__icon span {
  margin-top: 18px;
}
