/* ==============================================================
네비게이션 바
=================================================================
*/

/* 전체 스타일 */
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 50px;
  background-color: #f9f9fa;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

/* 네비게이션 버튼 간 조정 */
.nav__list {
  display: flex;
  justify-content: space-between;
}

/* 버튼 조정 */
.nav__link {
  position: relative;
  color: #2e363e;
}

/* 새로운 메시지 표시 아이콘 y축 이동, 회전 */
@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
  animation: notificationAnimation 2s ease-in-out infinite;
}

/* 네비게이션 바 버튼 위로 등장 */
@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav__link {
  transform: translateY(50px);
  animation: appearBtnAnimation 0.3s ease-in-out forwards;
}

/* 왼쪽부터 버튼 한개씩 딜레이 */
.nav__link:nth-child(2) {
  animation-delay: 0.2s;
}

.nav__link:nth-child(3) {
  animation-delay: 0.4s;
}

.nav__link:last-child {
  animation-delay: 0.6s;
}
