/* ==============================================================
헤더 (2 column)
=================================================================
*/

.screen-header {
  display: flex;
  padding: 60px 20px 25px 25px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

/* 왼쪽 column 텍스트 조정 */
.screen-header__title {
  font-weight: 600;
  font-size: var(--horizontal-space);
}

/* 아이콘들 간 간격 조정 */
.screen-header__icons span {
  margin-left: 20px;
  position: relative;
}

/* 톱니바퀴 회전 기능 */
@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
